body {
    
}

input {
    padding: 5px;
}

button:hover{
    cursor: pointer;
}

.container{
    max-width: 700px;
    margin: 0 auto;

}

.error-message {
    color: red;
}

.hidden {
    display: none;
}